
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Pi Zero WebControl{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="dark">
  <nav>
    <ul>
      <li><a href="/" id="tab-devices">Geräte</a></li>
      <li><a href="#" id="tab-groups">Gruppen</a></li>
      <li><a href="/settings" id="tab-settings">Einstellungen</a></li>
    </ul>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="/static/js/main.js"></script>
</body>
</html>
